.menu_h3 {
    color: var(--main_color0);
    font-size: 12pt;
    font-weight: lighter;
    font-family: var(--font_family1);
    font-style: italic;
    padding: 0 0 5pt 10pt;
    margin-left: 35pt;
}


.select_button {
    border-radius: 18pt;    
    box-shadow: 5px 5px 5px var(--main_color1);
    background: var(--backgroud_color1);    
    padding: 0 15pt 0 20pt;
    margin: 0 0 0 35pt;
    text-align: left;
    height: 36pt;
}
.select_button h2 {
    display: inline;
    color: var(--main_color0);
    font-size: 16pt;
    font-weight: bold;
    font-family: var(--font_family0);
}
.select_button h1 {
    display: inline;
    margin-right: 10pt;  
    padding-left: var(--eye_diameter);
    height: var(--eye_diameter);
    border-radius: var(--eye_radiaus);  
    background-color: var(--main_color1);
}

#menu_div {
    z-index: 7;
    display: fixed;
    width: 0pt; /* this make main_div to be fixed*/
    position: relative;
}

.menu_container_div {
    margin-top: 30pt;
}

.pointer_canvas {
    position: absolute;    
    left: 40pt;
    width: var(--eye_diameter);
    height: var(--eye_diameter);
    border-radius: var(--eye_radiaus);  
}
#eye_canvas {
    background-color: var(--main_color0);
    z-index: 5;
}
#lead_canvas {
    background-color: var(--backgroud_color0);
    border-radius: 0 0 10pt 10pt;
    z-index: 7;
}
#side_canvas {
    background-color: transparent;
    outline: var(--backgroud_color0) 20px solid;
    z-index: 6;
}


.indicate_canvas{
    position: fixed;
    top: 0;
    left: 0;
}
.indicate_div{
    position: fixed;
    top: 0;
    left: 0;
}

.contact_div{
    position: fixed;
    margin: 0 0 0 35pt;
    top: 30pt;
}
#roll_div{
    display: grid;
    width: 120pt;
    grid-template-columns: 15pt 1fr;
    grid-template-rows: auto auto auto;
    box-shadow: 5px 5px 5px var(--main_color1);
    border-radius: 10pt; 
}
#roll_div button{
    grid-column: 1 / span 2;

    border-radius: 10pt; 
    height: 20pt;
    padding: 0 15pt 0 15pt;
    background: var(--backgroud_color2); 
}
#roll0_button{
    grid-row: 1;

    box-shadow: 5px 5px 5px var(--main_color1);     
    text-align: left;
}
.roll_button h2{
    color: var(--main_color0);
    font-size: 12pt;
    font-family: var(--font_family0);
}
#rollcontent_div {
    grid-column: 2;
    grid-row: 1 / span 3;
    border-radius: 15pt;  
    background-color: var(--backgroud_color1);

    overflow: hidden;
    padding: 0;
    z-index: -2;
}
#rollcontent_div h3{
    display: none;
    padding: 0 0 0 0;
}
#roll2_button{    
    grid-row: 3;
    
    box-shadow: 0px -3px 15px var(--main_color1);
    text-align: right;
    z-index: -1;
}

.contact_h3{
    color: var(--main_color0);
    font-size: 10pt;
    font-weight: lighter;
    font-family: var(--font_family1);
    font-style: italic;
    position: relative;
    margin: 5pt;
}
.contact_h2{
    color: var(--main_color0);
    font-size: 12pt;
    font-weight: normal;
    font-family: var(--font_family0);
    font-style: italic;
}
.copy_button {
    color: var(--main_color0);
    box-shadow: 0px -3px 15px var(--main_color1);
    
    border-radius: 5pt;
    border: 1.5pt solid var(--main_color0);
    height: 12pt;
    
    font-size: 12pt;
    font-weight: bold;
    font-family: var(--font_family0);
    position: relative;
    left: 5pt;
    opacity: 0.7;
    z-index: 1000000000000000;
}